extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Thurston Daly

        p Full Stack JavaScript Developer


        .about-bio

          p Proven results-driven achiever and effective team plater with strong coding skills.
          p Quick learner and easily adaptable to changing work environments and responsibilities. 

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 281-330-8004
          li dalythu@gmail.com

        a.btn-link(href='https://wwww.linkedin.com/' target="_blank") LinkedIn
        a.btn-link(href='https://www.github.com/dalythu/' target="_blank") GitHub
        a.btn-link(href='https://www.twitter.com' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back